* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f9fc;
    color: #333;
}

/* Adds clear visual inducatior when buttons are selected using keyboard Tab */
.nav-btn:focus {
    outline: 3px solid #ffbf00;
    outline-offset: 3px;
}

header {
    width: 100%;
    background-color: #1f3c88;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo img {
    width: 90px;
    height: auto;
}


nav .nav-btn {
    margin-left: 15px;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color: #fff;
    color: #1f3c88;
    text-decoration: none;
    transition: 0.3s ease;
    display: inline-block;
    font-weight: 600;
}

nav .nav-btn:hover {
    background-color: #dce7ff;
}

.guide-btn {
    border: none;
    cursor: pointer;
}

.guide-btn:focus {
    outline: 3px solid #ffbf00;
    outline-offset: 3px;
}



.content-container {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 70px);
}

.guide-section {
    width: 20%;
    padding: 40px;
    background: #eaf0ff;
    border-right: 2px solid #c8d4f7;
    display: none;
}

.guide-section.show {
    display: block;
}

.guide-section h2 {
    margin-bottom: 15px;
    color: #1f3c88;
}

.guide-section p {
    line-height: 1.6;
    margin-bottom: 12px;
}

.booking-section {
    width: 100%;
    padding: 40px;
}

.booking-placeholder {
    color: #777;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 150px;
}

.guide-left {
    position: fixed;
    top: 50%;
    left: 0;
    background-color: #fff;
    color: #1f3c88;
    padding: 16px 8px;
    border-radius: 0 8px 8px 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: 600;
    font-size: 1.15rem;
    cursor: pointer;
    border: 2px solid #1f3c88;
    transition: 0.3s;
}

.guide-left:hover {
    background-color: #dce7ff;
}
